absl-py
annotated-types
anyio
asgiref
astunparse
bcrypt
certifi
cffi
charset-normalizer
colorama
cryptography
distro
django
django-cors-headers
django-rest-framework-mongoengine
djangorestframework
djangorestframework_simplejwt
dnspython
filelock
flatbuffers
fsspec
gast
google-pasta
grpcio
h11
h5py
httpcore
httpx
idna
Jinja2
jiter
joblib
keras
libclang
Markdown
markdown-it-py
MarkupSafe
mdurl
ml_dtypes
mpmath
namex
networkx
numpy
openai
opencv-python
opt_einsum
optree
packaging
pillow
protobuf
pycparser
pydantic
pydantic_core
Pygments
PyJWT
pymongo
python-dotenv
python-http-client
python-multipart
pytz
requests
rich
scikit-learn
scipy
sendgrid
six
sniffio
sqlparse
starkbank-ecdsa
sympy
termcolor
tf_keras
threadpoolctl
torch
torchvision
tqdm
typing-inspection
typing_extensions
tzdata
urllib3
Werkzeug
wrapt
